<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.gunny.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>server/server.js</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/CHANGE_ME/Gunny</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PORT</key>
    <string>8080</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/gunny-server.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/gunny-server.err</string>
</dict>
</plist>
